{% extends "admin_index.html" %}
{% block title %} Dashboard - Tambo {% endblock title %}
{% block content %}
<div class="container mt-4">
    <div class="ratio ratio-16x9">
        <iframe 
            src="https://app.powerbi.com/view?r=eyJrIjoiYmEwMGViNjUtYzRkOC00YzJmLWI4YmEtN2E3Y2Y0NjRkMjA2IiwidCI6IjEzODQxZDVmLTk2OGQtNDYyNC1hN2RhLWQ2OGE2MDA2YTg0YSIsImMiOjR9" 
            title="SSD-PC4-LRPD3-Dashboard"
            allowfullscreen
            style="border:0;">
        </iframe>
    </div>
</div>
{% endblock content %}